body {
  background: url(beans-coffee.jpg) no-repeat center center fixed;
  background-size: cover;
}

.coffee {
  height: 100px;
  width: 200px;
}

.hero {
  color: #fff;
  margin-top: 20%;
  text-align: center;
  font-size: 70px;
  letter-spacing: -.05em;
  font-family: 'Josefin Sans', sans-serif;
}
